header{
  background-color: white;
  background-size: cover;
  background-repeat: repeat;
  height: 150px;
}
#nuestrosCursos{
  background-color: white;
}
#slogan{
  background-image: url(./assets/flexion.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 300px;
  padding-bottom: 300px;
  color: white; 
  padding-left: 200px; 
  padding-right: 200px;
}
#nosotros{
  background-image: url(./assets/pared-agrietada-superficie-agrietada_896360-3903.avif);
  background-size: cover;
  background-position: center;
}
#premios{
  background-color: rgb(82,132,229);
  padding-top: 100px;
  padding-bottom: 100px;
}
.circulo{
  height: 150px;
  width: 150px;
  background-color: rgb(179,252,255);
  border-radius: 50%;
}
#contactanos{
  background-color: black;
}
#button-addon2{
  color: white;
  background-color: rgb(82,132,229);
}
.raya{
  background-color: blue;
  padding-top: 4px;
}
#recomendacion{
  padding-bottom: 50px; 
  padding-top: 50px;
}
#cliente{
  padding-left: 250px; 
  padding-right: 250px;
}
#forma{
  border-radius: 50%; 
  height: 180px;
}
#textito{
  padding-left: 50px; 
  padding-right: 50px;
}
#face{
  border-radius: 50%; 
  height: 50px;
}
#alec{
  padding-left: 400px; 
  font-size: 12px;
}
#abajo{
  padding-top: 50px;
}